<div id="<%= dom_id library %>">
  <p>
    <strong>Title:</strong>
    <%= library.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= library.author %>
  </p>

  <p>
    <strong>Pontuation:</strong>
    <%= library.pontuation %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= library.description %>
  </p>

</div>
